body {
    background-color: black;
    font-family: 'Chakra Petch', Arial, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    overflow: hidden;
}

.background {
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    transform: scale(1.1);
    overflow: hidden;
    z-index: -1;
}

#bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.1) blur(15px); 
}

.container {
    display: flex;
    justify-content: center;
    border-radius: 10px 20px 20px 10px;
    align-items: stretch;
    z-index: 1;
    height: 70vh; 
}

/* left side */
.playlist-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 15px skyblue;
    outline: 3px solid skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    z-index: 1;
}

/* right side */
.playlist {
    width: 200px;
    background: rgba(0, 0, 0, 0.375);
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 0 10px skyblue;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.playlist h2 {
    margin-bottom: 10px;
    margin-left: 10px;
    color: skyblue;
}

.playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.playlist li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.playlist li:nth-child(odd) {
    background-color: rgba(135, 207, 235, 0.052);
}

.playlist li:nth-child(even) {
    background-color: #4683b423;
}

.playlist li:hover {
    background-color: #1e90ff;
    color: #fff; 
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-art {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px skyblue;
    outline: 3px solid skyblue;
}

.album-art img {
    width: 100%;
    height: auto;
}

.track-info {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

#track-title {
    margin-bottom: 5px;
}

#current-time, #duration {
    font-size: 0.9em;
}

#seek-bar {
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, white 0%, white 0%, black 0%, black 100%);
    box-shadow: 0 0 10px black;
    position: relative;
    transition: background 0.3s;
}

#seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px black;
}

#seek-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px black;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.control-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s;
}

.control-btn:hover {
    color: skyblue;
}

.control-btn.active {
    color: skyblue;
}

.pulse-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    pointer-events: none;
}


#pulse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background: rgba(0, 150, 255, 0.5);
    opacity: 0;
    border-radius: 50px;
}


@keyframes pulse-animation {
    0% { transform: scale(1); opacity: 0.8; }
    100% { transform: scale(1.25); opacity: 0; }
}

@keyframes container-pulse {
    0% { transform: scale(1); box-shadow: 0 0 10px skyblue; }
    10% { transform: scale(1.02); box-shadow: 0 0 50px skyblue; }
    100% { transform: scale(1); box-shadow: 0 0 10px skyblue; }
}


@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        height: auto;
        justify-content: center;
        line-height: calc(1em + 1vh);
        outline: 3px solid skyblue;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .playlist-container, .playlist {
        width: 90%;
        border-radius: 0px;
        box-shadow: none;
    }

    .album-art {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: auto;
        justify-content: center;
        line-height: calc(1em + 1vh);
    }

    .playlist-container, .playlist {
        width: 90%;
        box-shadow: none;
    }

    .album-art {
        width: 100px;
        height: 100px;
    }

    .track-info {
        font-size: 0.8em;
    }

    .control-btn {
        margin: 5px 0;
    }
}
